**/.vscode/*
**/build/*
**/.idea/*
**.cmak-build-debug/*
**/make_build/*
old_code/*

latex/template.synctex.gz

latex/template.aux

latex/template.fdb_latexmk

latex/template.fls

latex/template.log

proj-pthreads-vs-cilk.pdf

Huffman_SAP_on_IBM_Z.pdf

test_code/

Huffman/profiling/

Huffman/archived_code/huffman_tree_pthread_v2.cpp

Huffman/gmon.out
