**/.vscode/*
**/build/*
**/.idea/*
**.cmak-build-debug/*
old_code/*

latex/template.synctex.gz

latex/template.aux

latex/template.fdb_latexmk

latex/template.fls

latex/template.log

proj-pthreads-vs-cilk.pdf

Huffman_SAP_on_IBM_Z.pdf
